// =============================================================================
//  Config.scala
// @GENERATED_BY_FSLAB.
// =============================================================================
package {{ package_name }}

import org.chipsalliance.cde.config.{Config, Parameters}

// No Config by default, to facilitate GoldenGate compilation.
class NoConfig extends Config(Parameters.empty)